.Experiencia {
    flex-wrap: wrap;
    justify-content: center;
}

.border {
    margin: 1em;
    text-align: center;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 2em -1em;
    min-width: 25em;
    max-width: 45%;
}

.h1Exp {
    padding-left: 1em;
    text-align: left;
}