.AboutMe {
    text-align: justify;
}

.rSideMain {
    padding: 1em;
    margin-left: 15em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 2em -1em;
}

.oneLine {
    font-size: 1.5em;
    float: left;
    margin-right: 3em;
}