.AboutMe {
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.centerSideMain {
    text-align: justify;
    min-width: 350px;
    max-width: 70%;
}

.rSideMain {
    padding: 1em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 2em -1em;
}

.oneLine {
    font-size: 1.5em;
    float: left;
    margin-right: 3em;
}

.imgMain {
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
}