.Banner {
    padding: 1%;
    padding-top: 40em;
    text-align: left;
    color: aliceblue;
    width: 98%;

    background-image: url(../../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed; 
}
.h1main {
    margin-bottom: 0em;
    padding-bottom: 0em;

    font-size: 3em;
    text-shadow: 0.1em 0.1em 0.5em darkslategray;
}
.h2main {
    margin-top: 0em;
    padding-top: 0em;

    font-size: 2em;
    font-weight: 500;
    font-style: italic;

    text-shadow: 0.2em 0.2em 0.4em darkslategray;
}