body {
    margin: 0em;
    padding: 0em;

    text-align: center;
    color: darkslategray;
    font-family: 'Ubuntu', 'Roboto', 'Helvetica Neue', sans-serif;
    background-color: aliceblue;
}

/* Color for hyperlinks in dark zones */

.whiteLink {
    color: aliceblue;
}

a {
    color: darkslategray;
    font-weight: bold;
    text-decoration: none;
    transition: font-size 0.5s, color 0.5s;
}

/* Make the link bigger on hover */

a:hover {
    transition: font-size 0.5s, color 0.5s;
    font-size: 1.05em;
    color: rgb(50, 170, 170);
}

/* Icon style for the projects' subpage */

.iconGrow {
    transition: width 0.5s, height 0.5s;
    border-radius: 0em;
    margin: 1em;
    margin-bottom: 0em;
}

.iconGrow:hover {
    transition: width 0.5s, height 0.5s;
    width: 64px;
    height: 64px;
}

.flex {
    display: flex;
}

.flexExtend {
    flex-grow: 1;
}

.mar {
    margin: 1em;
}

.imgCool {
    border-radius: 1em 3em 2em;
}

/* Style for each subpage title */

.titleSubpage {
    padding-left: 1em;
    text-align: left;
}

/* Style for the loading page */

.fallback {
    font-size: 5em;
    margin: 5em;
    color:lightgray;
    text-align: center;
    font-family: 'Ubuntu', 'Roboto', 'Helvetica Neue', sans-serif;
    background-color: aliceblue;
}