body {
    margin: 0em;
    padding: 0em;
    text-align: center;
    color: darkslategray;
    font-family: 'Ubuntu', 'Roboto', 'Helvetica Neue', sans-serif;
    background-color: aliceblue;
}

.blink {
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
}

.wlink {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
a:hover {
    transition: font-size 0.5s;
    font-size: 105%;
}